body {
  background: linear-gradient(180deg, rgba(255,253,217,1) 0%, rgba(224,255,227,1) 100%);
}

#chat {
  width: 500px;
  margin: 15px auto;
  padding: 20px;
}

.info_output {
  color: grey;
  font-style: italic;
}

.chat_output {
  margin: 20px 0px 30px;
  border: 3px solid rgb(134, 211, 235);
  border-radius: 1px;
  padding: 10px;
  height: 450px;
  overflow-y: scroll;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.chat_output > div {
  max-width: 80%;
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 3px;
  color: rgb(53, 55, 56);
}

.chat_output .recieved {
  background: #fff;
  border: 3px solid rgb(134, 211, 235);
  border-radius: 5px;
  align-self: flex-start;
}

.chat_output .sent {
  background: #fff;
  border: 3px solid rgb(134, 211, 235);
  border-radius: 5px;
  align-self: flex-end;
}

input {
  padding: 5px;
  width: 60%;
  border: 3px solid rgb(134, 211, 235);
  border-radius: 1px;
}

.chat_input {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 7px 10px;
  color: rgb(53, 55, 56);
  background: rgb(134, 211, 235);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}